# Exploring Mental Health Data
**Objective:** Predict whether an individual suffers from depression based on a set of responses from a mental health survey.

**Problem task:** Binary classification on the target variable depression (0 = false, 1 = true)

**Dataset source:** Kaggle - Playground Series S4E11

In [8]:
#Marta path:
#Ricardo path:
#Sara path: "/Users/saracortez/feup/3o ano/iart/exploring_mental_health_data/data/train.csv"
import pandas as pd
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")

print(train_data.head())
train_data.describe()

   id      Name  Gender   Age           City Working Professional or Student  \
0   0  Aaradhya  Female  49.0       Ludhiana            Working Professional
1   1     Vivan    Male  26.0       Varanasi            Working Professional
2   2    Yuvraj    Male  33.0  Visakhapatnam                         Student
3   3    Yuvraj    Male  22.0         Mumbai            Working Professional
4   4      Rhea  Female  30.0         Kanpur            Working Professional

         Profession  Academic Pressure  Work Pressure  CGPA  \
0              Chef                NaN            5.0   NaN
1           Teacher                NaN            4.0   NaN
2               NaN                5.0            NaN  8.97
3           Teacher                NaN            5.0   NaN
4  Business Analyst                NaN            1.0   NaN

   Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                 NaN               2.0  More than 8 hours        Healthy
1                 NaN               3.0  Less than 5 hours      Unhealthy
2                 2.0               NaN          5-6 hours        Healthy
3                 NaN               1.0  Less than 5 hours       Moderate
4                 NaN               1.0          5-6 hours      Unhealthy

    Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0      BHM                                    No               1.0
1      LLB                                   Yes               7.0
2  B.Pharm                                   Yes               3.0
3      BBA                                   Yes              10.0
4      BBA                                   Yes               9.0

   Financial Stress Family History of Mental Illness  Depression
0               2.0                               No           0
1               3.0                               No           1
2               1.0                               No           1
3               1.0                              Yes           1
4               4.0                              Yes           0

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [9]:
#duplicate removal
bf = len(train_data)
print(f"Number of rows before removing duplicates: {len(train_data)}")
train_data = train_data.drop_duplicates()
af = len(train_data)
print(f"Number of rows after removing duplicates: {len(train_data)}")
if (bf-af) == 0:
    print("(No dup data found)")

Number of rows before removing duplicates: 140700
Number of rows after removing duplicates: 140700
(No dup data found)

In [10]:
#missing value check
def missing_value_info(df):
    total = df.isnull().sum()
    percent = (total / len(df)) * 100
    return pd.DataFrame({'Missing Values': total, 'Percent Missing': percent}).sort_values(by='Percent Missing', ascending=False)
missing_info_with_0 = missing_value_info(train_data)
missing_info = missing_info_with_0[missing_info_with_0['Percent Missing'] > 0.0]
print(missing_info)
print(missing_info_with_0)

                    Missing Values  Percent Missing
Study Satisfaction          112803        80.172708
Academic Pressure           112803        80.172708
CGPA                        112802        80.171997
Profession                   36630        26.034115
Work Pressure                27918        19.842217
Job Satisfaction             27910        19.836532
Financial Stress                 4         0.002843
Dietary Habits                   4         0.002843
Degree                           2         0.001421
                                       Missing Values  Percent Missing
Study Satisfaction                             112803        80.172708
Academic Pressure                              112803        80.172708
CGPA                                           112802        80.171997
Profession                                      36630        26.034115
Work Pressure                                   27918        19.842217
Job Satisfaction                                27910        19.836532
Financial Stress                                    4         0.002843
Dietary Habits                                      4         0.002843
Degree                                              2         0.001421
Gender                                              0         0.000000
Name                                                0         0.000000
id                                                  0         0.000000
Age                                                 0         0.000000
City                                                0         0.000000
Working Professional or Student                     0         0.000000
Sleep Duration                                      0         0.000000
Have you ever had suicidal thoughts ?               0         0.000000
Work/Study Hours                                    0         0.000000
Family History of Mental Illness                    0         0.000000
Depression                                          0         0.000000

since these columns were spotted for missing values, we want to understand their appearance: how many are missing (NaN count in value_counts), if there unexpected 0s or negative values.

### Data prepp

In [ ]:
train_data['Study Satisfaction'].value_counts(dropna=False)
train_data['Academic Pressure'].value_counts(dropna=False)
train_data['CGPA'].value_counts(dropna=False)
train_data['Profession'].value_counts(dropna=False)
train_data['Work Pressure'].value_counts(dropna=False)
train_data['Job Satisfaction'].value_counts(dropna=False)
train_data['Dietary Habits'].value_counts(dropna=False)
train_data['Financial Stress'].value_counts(dropna=False)
train_data['Degree'].value_counts(dropna=False)
#regulated
#Comclusion: all our missing vals are NANS

Degree
Class 12    14729
B.Ed        11691
B.Arch       8742
B.Com        8113
B.Pharm      5856
            ...
Vivaan          1
MTech           1
29              1
LLCom           1
Advait          1
Name: count, Length: 116, dtype: int64

In [19]:
# Forçar a visualização completa das contagens
pd.set_option('display.max_rows', None)  # Isso vai permitir que todos os valores sejam exibidos
print(train_data['Degree'].value_counts(dropna=False))

Degree
Class 12                14729
B.Ed                    11691
B.Arch                   8742
B.Com                    8113
B.Pharm                  5856
BCA                      5739
M.Ed                     5668
MCA                      5234
BBA                      5030
BSc                      5027
MSc                      4879
LLM                      4647
M.Pharm                  4537
M.Tech                   4475
B.Tech                   4425
LLB                      4348
BHM                      4305
MBA                      3818
BA                       3750
ME                       3632
MD                       3383
MHM                      3286
BE                       3104
PhD                      3103
M.Com                    3094
MBBS                     3082
MA                       2887
M.Arch                      5
UX/UI Designer              4
B.Sc                        3
Kalyan                      3
M                           3
LLBA                        2
NaN                         2
BArch                       2
L.Ed                        2
BPharm                      2
P.Com                       2
Nalini                      2
BEd                         2
B                           2
Degree                      2
Jhanvi                      2
Bhopal                      2
MEd                         2
LL B.Ed                     2
LLTech                      1
M_Tech                      1
5.88                        1
Pihu                        1
HCA                         1
Marsh                       1
Lata                        1
S.Arch                      1
BB                          1
LHM                         1
8.56                        1
Entrepreneur                1
Aarav                       1
B.Student                   1
E.Tech                      1
M.S                         1
Navya                       1
Mihir                       1
RCA                         1
B B.Com                     1
LCA                         1
N.Pharm                     1
Doctor                      1
CGPA                        1
LLEd                        1
LLS                         1
Esha                        1
Working Professional        1
Mthanya                     1
B.3.79                      1
K.Ed                        1
Mahika                      1
24                          1
M. Business Analyst         1
Brithika                    1
ACA                         1
Badhya                      1
HR Manager                  1
Unite                       1
P.Pharm                     1
MPharm                      1
Data Scientist              1
LL.Com                      1
Business Analyst            1
H_Pharm                     1
Class 11                    1
20                          1
S.Tech                      1
Veda                        1
BH                          1
MPA                         1
S.Pharm                     1
Vrinda                      1
Bhavesh                     1
Brit                        1
B.B.Arch                    1
7.06                        1
B BA                        1
5.56                        1
Ritik                       1
B.03                        1
5.61                        1
0                           1
Plumber                     1
BPA                         1
Vivaan                      1
MTech                       1
29                          1
LLCom                       1
Advait                      1
Name: count, dtype: int64

In [8]:
train_data['Profession'].value_counts(dropna=False)

valid_professions = [
    "Teacher", "Content Writer", "Architect", "Consultant", "HR Manager",
    "Pharmacist", "Doctor", "Business Analyst", "Entrepreneur", "Chemist",
    "Chef", "Educational Consultant", "Data Scientist", "Researcher", "Lawyer",
    "Customer Support", "Marketing Manager", "Pilot", "Travel Consultant",
    "Plumber", "Sales Executive", "Manager", "Judge", "Electrician",
    "Financial Analyst", "Software Engineer", "Civil Engineer", "UX/UI Designer",
    "Digital Marketer", "Accountant", "Mechanical Engineer", "Graphic Designer",
    "Research Analyst", "Investment Banker", "Analyst", "Academic", "Unemployed", "Medical Doctor", "City Manager", "Family Consultant"
]
# we will replace the remainder with na
train_data["Profession"] = train_data["Profession"].apply(
    lambda x: x if x in valid_professions else "other"
)
#for now i put na. not sure

train_data['Profession'].value_counts(dropna=False)

test_data["Profession"] = test_data["Profession"].apply(
    lambda x: x if x in valid_professions else "other"
)
#for now i put na. not sure

test_data['Profession'].value_counts(dropna=False)

# these are names: ["Yogesh", "Pranav", "Dev", "Yuvraj"]
# these seem to be localities ["Patna", "Visakhapatnam", "Nagpur", "FamilyVirar"]
# and these ? what are hey ? not jobs. ["Patna", "Visakhapatnam", "Nagpur", "FamilyVirar"]
#degrees like MBA
#substringing

Profession
other                     37997
Teacher                   24906
Content Writer             7814
Architect                  4370
Consultant                 4229
HR Manager                 4022
Pharmacist                 3893
Doctor                     3255
Business Analyst           3161
Entrepreneur               2968
Chemist                    2967
Chef                       2862
Educational Consultant     2852
Data Scientist             2390
Researcher                 2328
Lawyer                     2212
Customer Support           2055
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1748
Sales Executive            1739
Manager                    1737
Judge                      1712
Electrician                1582
Financial Analyst          1574
Software Engineer          1510
Civil Engineer             1470
UX/UI Designer             1452
Digital Marketer           1372
Accountant                 1339
Mechanical Engineer        1177
Graphic Designer           1163
Research Analyst            690
Investment Banker           393
Academic                      5
Unemployed                    3
Family Consultant             1
City Manager                  1
Medical Doctor                1
Analyst                       1
Name: count, dtype: int64

In [13]:
import re
# handle ranges like 6-8, handle more than/less than X,handle direct numeric values
print(len(train_data['Sleep Duration']))
#15 rows lost
def normalize_sleep_duration(column):
    def normalize(value):
        value = str(value).strip()

        match_range = re.match(r"(\d+)\s*-\s*(\d+)", value)
        if match_range:
            x, y = map(int, match_range.groups())
            return (x + y) / 2

        match_more = re.match(r"More than (\d+)", value, re.IGNORECASE)
        if match_more:
            return int(match_more.group(1)) + 0.5

        match_less = re.match(r"Less than (\d+)", value, re.IGNORECASE)
        if match_less:
            return int(match_less.group(1)) - 0.5

        try:
            return float(value)
        except ValueError:
            return pd.NA 

    return column.apply(normalize)

def normalize_large_sleep_values(column):
    def adjust_large(value):
        try:
            if pd.notna(value) and value >= 12:
                return round(value / 7 * 2) / 2
            return value
        except:
            return pd.NA
    return column.apply(adjust_large)

train_data['Sleep Duration'] = normalize_sleep_duration(train_data['Sleep Duration'])
train_data['Sleep Duration'] = normalize_large_sleep_values(train_data['Sleep Duration'])
test_data['Sleep Duration'] = normalize_sleep_duration(test_data['Sleep Duration'])
test_data['Sleep Duration'] = normalize_large_sleep_values(test_data['Sleep Duration'])

print(train_data['Sleep Duration'].value_counts())

140700
Sleep Duration
4.5     38792
7.5     36970
8.5     32729
5.5     32142
3.5        16
6.5        11
7.0         6
5.0         6
2.5         5
10.0        2
10.5        2
1.5         1
6.0         1
2.0         1
8.0         1
Name: count, dtype: int64

In [10]:
valid_dietary = ["Moderate", "Unhealthy", "Healthy"]

train_data["Dietary Habits"] = train_data["Dietary Habits"].apply(
    lambda x: x if x in valid_dietary else "other"
)
test_data["Dietary Habits"] = test_data["Dietary Habits"].apply(
    lambda x: x if x in valid_dietary else "other"
)


print(train_data['Dietary Habits'].value_counts(dropna = False))

Dietary Habits
Moderate     49705
Unhealthy    46227
Healthy      44741
other           27
Name: count, dtype: int64

In [ ]:
valid_degrees = [
    "Class 12", "B.Ed", "B.Arch", "B.Com", "B.Pharm", "BCA", "M.Ed", "MCA", 
    "BBA", "BSc", "MSc", "LLM", "M.Pharm", "M.Tech", "B.Tech", "LLB", "BHM", 
    "MBA", "BA", "ME", "MD", "MHM", "BE", "PhD", "M.Com", "MBBS", "MA", "M.Arch"
]

def clean_degree(value):
    if value in valid_degrees:
        return value
    else:
        return 'other'

train_data['Degree'] = train_data['Degree'].apply(clean_degree)
test_data['Degree'] = test_data['Degree'].apply(clean_degree)

# Verificar a contagem dos novos valores na coluna Degree
print(train_data['Degree'].value_counts(dropna=False))

Degree
Class 12    14729
B.Ed        11691
B.Arch       8742
B.Com        8113
B.Pharm      5856
BCA          5739
M.Ed         5668
MCA          5234
BBA          5030
BSc          5027
MSc          4879
LLM          4647
M.Pharm      4537
M.Tech       4475
B.Tech       4425
LLB          4348
BHM          4305
MBA          3818
BA           3750
ME           3632
MD           3383
MHM          3286
BE           3104
PhD          3103
M.Com        3094
MBBS         3082
MA           2887
other         111
M.Arch          5
Name: count, dtype: int64

In [16]:
print(train_data['Work/Study Hours'].value_counts(dropna=False))
"""
train_data['Work/Study Hours'].value_counts(dropna=False)
train_data['Academic Pressure'].value_counts(dropna=False)
train_data['CGPA'].value_counts(dropna=False)
train_data['Profession'].value_counts(dropna=False)
train_data['Work Pressure'].value_counts(dropna=False)
train_data['Job Satisfaction'].value_counts(dropna=False)
train_data['Dietary Habits'].value_counts(dropna=False)
train_data['Financial Stress'].value_counts(dropna=False)
train_data['Degree'].value_counts(dropna=False)"""

Work/Study Hours
10.0    14199
11.0    12832
9.0     12711
0.0     12066
12.0    11409
2.0     10595
6.0     10432
7.0      9872
1.0      9802
3.0      9474
5.0      9337
4.0      9065
8.0      8906
Name: count, dtype: int64

"\ntrain_data['Work/Study Hours'].value_counts(dropna=False)\ntrain_data['Academic Pressure'].value_counts(dropna=False)\ntrain_data['CGPA'].value_counts(dropna=False)\ntrain_data['Profession'].value_counts(dropna=False)\ntrain_data['Work Pressure'].value_counts(dropna=False)\ntrain_data['Job Satisfaction'].value_counts(dropna=False)\ntrain_data['Dietary Habits'].value_counts(dropna=False)\ntrain_data['Financial Stress'].value_counts(dropna=False)\ntrain_data['Degree'].value_counts(dropna=False)"

we can detect in our data two categories of individuals, identifiable by their attributes:
- **Students:** academic pressure, CGPA, study satisfaction, degree
- **Worker Professionals:** work pressure, profession, job satisfaction

Our decision tree classifier requires binary values. Thus, let's convert bicategorical variables in to 0/1.

In [11]:

# Gender column: Male -> 1, Female -> 0
train_data['Gender'] = train_data['Gender'].replace({'Male': 1, 'Female': 0})

# Have you ever had suicidal thoughts?
train_data['Have you ever had suicidal thoughts ?'] = train_data['Have you ever had suicidal thoughts ?'].replace({'Yes': 1, 'No': 0})

train_data['Family History of Mental Illness'] = train_data['Family History of Mental Illness'].replace({'Yes': 1, 'No': 0})

test_data['Gender'] = test_data['Gender'].replace({'Male': 1, 'Female': 0})

test_data['Have you ever had suicidal thoughts ?'] = test_data['Have you ever had suicidal thoughts ?'].replace({'Yes': 1, 'No': 0})

test_data['Family History of Mental Illness'] = test_data['Family History of Mental Illness'].replace({'Yes': 1, 'No': 0})
#print(train_data['Gender']).value_counts().sort(ascending=false)

C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['Gender'] = train_data['Gender'].replace({'Male': 1, 'Female': 0})
C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['Have you ever had suicidal thoughts ?'] = train_data['Have you ever had suicidal thoughts ?'].replace({'Yes': 1, 'No': 0})
C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['Family History of Mental Illness'] = train_data['Family History of Mental Illness'].replace({'Yes': 1, 'No': 0})
C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data['Gender'] = test_data['Gender'].replace({'Male': 1, 'Female': 0})
C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data['Have you ever had suicidal thoughts ?'] = test_data['Have you ever had suicidal thoughts ?'].replace({'Yes': 1, 'No': 0})
C:\Users\marta\AppData\Local\Temp\ipykernel_20724\1291231171.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data['Family History of Mental Illness'] = test_data['Family History of Mental Illness'].replace({'Yes': 1, 'No': 0})